# This sample configuration file contains details of the principle Yamn
# configuration options.  Where a value is shown to the right of the '=', it
# represents the default setting.

[Mail]
# Hostname of the SMTP server you use for outbound email.
;SMTPRelay = 

# Port number of your SMTP server.
;smtpport = 25

# Username and password for authentication to your SMTP server.
;smtpusername = steve@stmellion.org
;smtppassword = KPRaj2eeImND03q4wj4a

# Sendmail determines if the server tries to use Sendmail to connect securely
# to a (usually) remote mailserver.  If set to false, it will try to relay
# messages via the defined SMTP Relay. Remailers with local MTAs will probably
# want to set this to false.
;Sendmail = true

[Stats]
# Maximum latency accepted during random chain selection
;maxlat = 60

# Minimum latency accepted during random chain selection
;minlat = 2

# Minimum reliability of nodes in randomly selected chains
;minrel = 98.0

# Minimum reliability of a random final hop in a chain
;relfinal = 99.0

[Pool]
# Number of messages that must reside in the pool before processing is
# triggered. New remailers may wish to set this much lower until there is
# sufficient traffic to meet higher triggers.
;Size = 45

# What percentage of pool messages to process after each trigger.
;Rate = 65

# Loop dictates how long (in seconds) the server will wait between checking the
# pool to see if any messages need processing.  This only has significance when
# running in daemon mode.
;Loop = 300

[Files]
# Maildir directory to scan for incoming messages.  If not set, the default
# is to look for a /Maildir directory under the directory where the binary
# resides.
;Maildir =

# Location of the public keyring file. By default, in the same dir as the
# binary. 
;Pubring = "/home/echolot/echolot/results/pubring.mix"

# Location of the published stats file (in mlist2.txt format).  This file is
# only required for random selection of nodes in chains.
;Mlist2 = "/home/echolot/echolot/results/mlist2.txt"

[Remailer]
# Remailer shortname that shows up in keyrings and stats.
;Name = "anon"

# Remailer email address.  This has to be a real address.
;Address = nobody@nowhere.invalid

# If set to True, this remailer will deliver messages to final recipients.
;Exit = false

# Daemon dictates if a started remailer performs a single pool process or runs
# until terminated.
;Daemon = false

# Loglevel can be 'trace', 'info', 'warn' or 'error'
;Loglevel = "info"
